body{
	margin: 0;
	padding: 0;
}
.header{
	overflow: hidden;
}
.wrapper{
	width: 90%;
	margin: 0px auto;
}
.wrapper2{
	width: 80%;
	margin: 0px auto;
}
.logotext{
	float: left;
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
}
.nav{
	margin-top: 24px;
	float: right;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	float: left;
	display: inline-block;
	padding: 0px 0px 15px 40px;
}
.nav ul li a{
	text-decoration: none;
	color: black;
	font-family: 'Inconsolata', monospace;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}
.background{
	overflow: hidden;
	margin-top: 20px;
}
.bgimg{
	background-image: url(../images/minimo.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 650px;
}
.banner{
	margin-top: 70px;
}
.text h1{
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
	color: grey;
}
.text1{
	font-size: 14px;
	opacity: .4;
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
}
.text2{
	font-size: 17px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
	
}
.service{
	overflow: hidden;
}
.service1{
	width: 47%;
	float: left;
	
}
.service2{
	width: 47%;
	float: right;
	
}
.img{
	background-image: url('../images/blog_1.jpg');
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 30px;
}
.servtext h1{
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
	color: grey;
}
.text3{
	padding-bottom: 10px;
	font-size: 17px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
}
.footer{
	background-color: #E3E3E3;
	min-height: 220px;
	text-align: center;
}
.foottext{
	padding-top: 30px;
	padding-bottom: 38px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
}
.email{
	background-image: url('../images/licon.png')
}
.email input[type="email"]{
	border: none;
	background-color:#E3E3E3;
	border-bottom: 1px solid black;
	padding-bottom: 7px; 
	width: 27%;
	outline: none;
}